{
    Filter = {
        Bundles = (
            "com.apple.Foundation",
            "com.apple.UIKit",
            "com.apple.WebKit",
            "com.apple.JavaScriptCore",
            "com.apple.IMCore",
            "com.apple.ChatKit"
        );
        Executables = (
            "imagent"
        );
    };
}
