Package: com.eolnmsuk.antidarksword
Name: AntiDarkSword
Depends: mobilesubstrate, preferenceloader, com.opa334.altlist
Version: 3.7
Architecture: iphoneos-arm64
Description: A security framework that mitigates zero-click messaging payloads and browser RCEs through aggressive daemon restrictions and granular WebKit isolation.
Maintainer: eolnmsuk
Author: eolnmsuk
Section: Tweaks
