<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Global Settings</string>
            <key>footerText</key>
            <string>You must also enable a preset level or custom rules below to protect your device.</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.eolnmsuk.antidarkswordprefs</string>
            <key>key</key>
            <string>enabled</string>
            <key>label</key>
            <string>Enable Protection</string>
            <key>PostNotification</key>
            <string>com.eolnmsuk.antidarkswordprefs/saved</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>id</key>
            <string>UserAgentGroup</string>
            <key>label</key>
            <string>User Agent Configuration</string>
            <key>footerText</key>
            <string>Spoofing User Agent (iOS version) bypasses known payloads for Coruna and DarkSword.</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkListCell</string>
            <key>detail</key>
            <string>PSListItemsController</string>
            <key>default</key>
            <string>Mozilla/5.0 (iPhone; CPU iPhone OS 18_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.0 Mobile/15E148 Safari/604.1</string>
            <key>defaults</key>
            <string>com.eolnmsuk.antidarkswordprefs</string>
            <key>key</key>
            <string>selectedUAPreset</string>
            <key>label</key>
            <string>Select UA</string>
            <key>validTitles</key>
            <array>
                <string>iPhone (18.1) - Default</string>
                <string>iPhone (17.6.1)</string>
                <string>iPhone (16.7.8)</string>
                <string>iPhone (15.8.2)</string>
                <string>iPad (18.1)</string>
                <string>Android (Chrome)</string>
                <string>Windows (Edge)</string>
                <string>Mac (macOS 14.5)</string>
                <string>Custom String</string>
            </array>
            <key>validValues</key>
            <array>
                <string>Mozilla/5.0 (iPhone; CPU iPhone OS 18_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.0 Mobile/15E148 Safari/604.1</string>
                <string>Mozilla/5.0 (iPhone; CPU iPhone OS 17_6_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.6 Mobile/15E148 Safari/604.1</string>
                <string>Mozilla/5.0 (iPhone; CPU iPhone OS 16_7_8 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.6 Mobile/15E148 Safari/604.1</string>
                <string>Mozilla/5.0 (iPhone; CPU iPhone OS 15_8_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/15.6.6 Mobile/15E148 Safari/604.1</string>
                <string>Mozilla/5.0 (iPad; CPU OS 18_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.0 Mobile/15E148 Safari/604.1</string>
                <string>Mozilla/5.0 (Linux; Android 14; SM-S918B) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Mobile Safari/537.36</string>
                <string>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36 Edg/120.0.0.0</string>
                <string>Mozilla/5.0 (Macintosh; Intel Mac OS X 14_5) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.5 Safari/605.1.15</string>
                <string>CUSTOM</string>
            </array>
            <key>PostNotification</key>
            <string>com.eolnmsuk.antidarkswordprefs/saved</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>id</key>
            <string>CustomUATextField</string>
            <key>default</key>
            <string></string>
            <key>defaults</key>
            <string>com.eolnmsuk.antidarkswordprefs</string>
            <key>key</key>
            <string>customUAString</string>
            <key>label</key>
            <string>Custom</string>
            <key>placeholder</key>
            <string>Type manual UA here...</string>
            <key>returnKeyType</key>
            <integer>9</integer>
            <key>noAutoCorrect</key>
            <true/>
            <key>PostNotification</key>
            <string>com.eolnmsuk.antidarkswordprefs/saved</string>
        </dict>
        
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>id</key>
            <string>PresetRulesGroup</string>
            <key>label</key>
            <string>Preset Rules</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>id</key>
            <string>AutoProtectLevelSegment</string>
            <key>default</key>
            <integer>1</integer>
            <key>defaults</key>
            <string>com.eolnmsuk.antidarkswordprefs</string>
            <key>key</key>
            <string>autoProtectLevel</string>
            <key>validValues</key>
            <array>
                <integer>1</integer>
                <integer>2</integer>
                <integer>3</integer>
            </array>
            <key>validTitles</key>
            <array>
                <string>Level 1</string>
                <string>Level 2</string>
                <string>Level 3</string>
            </array>
            <key>set</key>
            <string>setAutoProtectLevel:specifier:</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>id</key>
            <string>AppPermissionsGroup</string>
            <key>label</key>
            <string>Manual Rules</string>
            <key>footerText</key>
            <string>Manually protect apps that are not in the current Level preset.</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>id</key>
            <string>SelectApps</string>
            <key>detail</key>
            <string>AntiDarkSwordAltListController</string>
            <key>defaults</key>
            <string>com.eolnmsuk.antidarkswordprefs</string>
            <key>key</key>
            <string>restrictedApps-</string>
            <key>ALSettingsKeyPrefix</key>
            <string>restrictedApps-</string>
            <key>ALChangeNotification</key>
            <string>com.eolnmsuk.antidarkswordprefs/saved</string>
            <key>label</key>
            <string>Select Apps...</string>
            <key>sections</key>
            <array>
                <dict>
                    <key>sectionType</key>
                    <string>Visible</string>
                </dict>
                <dict>
                    <key>sectionType</key>
                    <string>Hidden</string>
                </dict>
            </array>
            <key>showIdentifiersAsSubtitle</key>
            <true/>
            <key>defaultApplicationSwitchValue</key>
            <false/>
            <key>useSearchBar</key>
            <true/>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>id</key>
            <string>AdvancedRestrictionsGroup</string>
            <key>label</key>
            <string>Advanced Custom Rules</string>
            <key>footerText</key>
            <string>Add bundle IDs or process names. Swipe left on rules to remove.</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Add Custom Bundle ID / Process</string>
            <key>action</key>
            <string>addCustomID</string>
            <key>id</key>
            <string>AddCustomIDButton</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>id</key>
            <string>GlobalMitigationsGroup</string>
            <key>label</key>
            <string>Global Mitigation Rules (BETA)</string>
            <key>footerText</key>
            <string>Enable specific mitigations system-wide.</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.eolnmsuk.antidarkswordprefs</string>
            <key>key</key>
            <string>globalUASpoofingEnabled</string>
            <key>label</key>
            <string>Spoof User Agent</string>
            <key>set</key>
            <string>setGlobalMitigation:specifier:</string>
            <key>PostNotification</key>
            <string>com.eolnmsuk.antidarkswordprefs/saved</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.eolnmsuk.antidarkswordprefs</string>
            <key>key</key>
            <string>globalDisableJIT</string>
            <key>label</key>
            <string>Disable iOS 16 JIT</string>
            <key>set</key>
            <string>setGlobalMitigation:specifier:</string>
            <key>PostNotification</key>
            <string>com.eolnmsuk.antidarkswordprefs/saved</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.eolnmsuk.antidarkswordprefs</string>
            <key>key</key>
            <string>globalDisableJIT15</string>
            <key>label</key>
            <string>Disable iOS 15 JIT</string>
            <key>set</key>
            <string>setGlobalMitigation:specifier:</string>
            <key>PostNotification</key>
            <string>com.eolnmsuk.antidarkswordprefs/saved</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.eolnmsuk.antidarkswordprefs</string>
            <key>key</key>
            <string>globalDisableJS</string>
            <key>label</key>
            <string>Disable JavaScript ⚠︎</string>
            <key>set</key>
            <string>setGlobalMitigation:specifier:</string>
            <key>PostNotification</key>
            <string>com.eolnmsuk.antidarkswordprefs/saved</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.eolnmsuk.antidarkswordprefs</string>
            <key>key</key>
            <string>globalDisableRTC</string>
            <key>label</key>
            <string>Disable WebGL &amp; WebRTC</string>
            <key>set</key>
            <string>setGlobalMitigation:specifier:</string>
            <key>PostNotification</key>
            <string>com.eolnmsuk.antidarkswordprefs/saved</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.eolnmsuk.antidarkswordprefs</string>
            <key>key</key>
            <string>globalDisableMedia</string>
            <key>label</key>
            <string>Disable Media Auto-Play</string>
            <key>set</key>
            <string>setGlobalMitigation:specifier:</string>
            <key>PostNotification</key>
            <string>com.eolnmsuk.antidarkswordprefs/saved</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.eolnmsuk.antidarkswordprefs</string>
            <key>key</key>
            <string>globalDisableIMessageDL</string>
            <key>label</key>
            <string>Disable Msg Auto-Download</string>
            <key>set</key>
            <string>setGlobalMitigation:specifier:</string>
            <key>PostNotification</key>
            <string>com.eolnmsuk.antidarkswordprefs/saved</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.eolnmsuk.antidarkswordprefs</string>
            <key>key</key>
            <string>globalDisableFileAccess</string>
            <key>label</key>
            <string>Disable Local File Access</string>
            <key>set</key>
            <string>setGlobalMitigation:specifier:</string>
            <key>PostNotification</key>
            <string>com.eolnmsuk.antidarkswordprefs/saved</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
        
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Info</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>GitHub</string>
            <key>action</key>
            <string>openGitHub</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Donate</string>
            <key>action</key>
            <string>openVenmo</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Reset All Settings to Default</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Reset to Defaults</string>
            <key>action</key>
            <string>resetToDefaults</string>
            <key>isDestructive</key>
            <true/>
        </dict>
    </array>
    
    <key>title</key>
    <string>AntiDarkSword</string>
</dict>
</plist>
